/* 메인 css */
main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

#register-title {
    font-size: 40px;
    font-weight: lighter;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 50px 0;
}

fieldset {
    border-top: 1px solid black;
    margin: 0px;
    border: none;
    /* width: 100%; */
}

label {
    display: flex;
    align-items: center;
    width: 170px;
    height: 50px;
    font-weight: bold;
}


.form-input {
    border: none;
    background-color: #f4f4f4;
    height: 30px;
    width: 350px;
    padding: 10px
}

.form-div {
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
}

.error {
    display: none;
    color: red;
    font-size: 0.8em;
    margin: 0 0 10px 200px;
    vertical-align: top;
    line-height: 1.2;
}

.radioLbl {
    width: 100px;
}

.button-wrap {
    display: flex;
    justify-content: space-around;
    width: 540px;
    padding: 50px 0;
    margin-bottom: 100px;

}

#deleteBtn, #submitBtn {
    width: 200px;
    height: 50px;
}
#deleteBtn:hover, #submitBtn:hover{
    cursor: pointer;
}

#submitBtn {
    border: none;
    background-color: black;
    color: #fff;
    padding: 10px;
}

#deleteBtn {
    background-color: #fff;
}