main {
    margin: 0 auto;
    /* 상하 여백 0, 좌우 여백 자동 조정으로 중앙 정렬 */
    width: 90%;
    /* 페이지 너비를 전체의 90%로 설정, 여기서는 10% 여백이 양 옆에 동일하게 분배됨 */
    max-width: 1200px;
    /* 최대 너비 설정으로 너무 큰 화면에서도 콘텐츠가 과도하게 넓어지지 않도록 함 */
    margin-bottom: 100px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 10px; /* 양 옆 여백 줄이기 */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 120px) / 5);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-name a {
    color: inherit;
    text-decoration: none;
}

.product-price {
    color: #ff6b6b;
    font-weight: bold;
    margin-bottom: 20px;
}
